bcrypt
db-sqlite3
dnspython
einops
Flask_Cors
Flask
flask-ngrok
gevent
Jinja2
MarkupSafe
mysql-connector-python
nltk
pdfminer.six
pymupdf
pyngrok
python-dateutil
qdrant-client
semantic_text_splitter
sentence_transformers
simplejson
spacy
transformers
Werkzeug
protobuf
lightning
huggingface_hub
unicode