bcrypt
db-sqlite3
dnspython
einops
Flask_Cors==4.0.0
Flask==2.3.2
flask-ngrok
gevent
Jinja2
MarkupSafe
mysql-connector-python
nltk==3.8.1
pdfminer.six
pymupdf
pyngrok
python-dateutil
qdrant-client
semantic_text_splitter==0.13.1
sentence_transformers==2.2.2
simplejson==3.19.1
transformers
Werkzeug
protobuf==3.19.3
lightning==2.0.1
huggingface_hub==0.25.0